<%- include("partials/header"); -%>

    <!-- NavBar -->
    <div class="special-navbar">
      <h2 class="white-color-txt">Hercules' Design</h2>
    </div>


    <form class="" action="/add" method="post">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Title</span>
          </div>
          <input type="text" name="titleGiven" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
        </div>


        <!-- Text area -->
        <!-- <textarea class="form-control" name="textArea" id="exampleFormControlTextarea1" rows="5"></textarea> -->
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Content</span>
          </div>
          <textarea row="5" name="textArea" class="form-control" aria-label="With textarea"></textarea>
        </div>


        <!-- Button -->
        <div class="container">
          <div class="row">
              <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary">Add</button>
              </div>
          </div>
        </div>


      </div>
    </form>


    <div class="notes-container">
      <% listNotes.forEach(function(post,index){ %>
        <div class="note">
          <h4> <a href="/notes/<%= post.simpleTitle %>-<%= post.idKey %>"><%= post.title %></a></h4>
          <p><%= post.content.substring(0, 100)%><a href="/notes/<%= post.simpleTitle %>-<%= post.idKey %>">...</a></p>
        </div>
      <% }) %>
    </div>

  </body>
</html>
